@media screen and (max-width:1199px){
    nav.nav-menu {
        justify-content: space-around;
        gap: 30px;
        min-height: 40px;
        padding: 0px 20px;
    }
    .car-section-wrap{
        gap: 10px;
    }
    .slider-section-product{
        row-gap: 15px;
    }
    .text-side-wrap {
        max-width: 100%;
        min-width: auto;
    }
    .product-to-slider {
        width: 100%;
    }
    .product-all-inner {
        grid-template-columns: repeat(2, minmax(0px, 1fr));
        gap: 10px;
    }
    .catslider .prduct-image img{
        max-width: 152px;
    }
    ul.slider-tabs{
        gap: 0;
    }
    ul.slider-tabs li.current {
        border: none;
        border-radius: 100%;
    }
    ul.slider-tabs li{
        margin-right: -15px;
        padding: 0;
    }
    .more-prdt-btn{
        margin-left: 15px;
    }
    .trends-block:first-child .trends-block-image {
        height: 21.5rem;
    }
    .trends-block:nth-child(2) .trends-block-image, .trends-block:last-child .trends-block-image {
        height: 10.25rem;
    }
    .trends-block:nth-child(2) .trends-block-image img, .trends-block:last-child .trends-block-image img {
        height: auto;
    }
    .Jewelry-Education .trends-block:nth-child(2), .trends-block:last-child{
        max-width: 25%;
        flex: 0 0 25%;
    }
   
    .right-section{
        min-width: auto;
        width: 50%;
    }

}


@media screen and (max-width:992px){
    .list-box ul {
    width: 710px;
}
.common-gap {
    padding: 40px 0px 0px;
}
.sticky-header.is-sticky{
    display: none;
}
.logo-section-wrap{
    background: #fff;
}
header {
    position: sticky;
    top: 0;
    z-index: 1;
}
.mobile-view a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}
.mobile-view a svg{
        fill: #fff;
        width: 20px;
}
#home-page{
    overflow-x: hidden;
}
.jewelry-wrap {
    padding-top: 10px;
}
.product-process {
    padding: 50px 0px;
}
.product-process h2 {
    font-size: 24px;
}
.steps-banner-innner ul {
    gap: 40px;
    margin-top: 20px;
}
.steps-banner-innner ul li h3 {
    margin-bottom: 10px;
    font-size: 22px;
}
.section-type-opal .grid-box-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.section-type-opal .grid-box-wrap .grid-box-item{
    min-width: 200px;
}
.section-type-gif .grid-box-wrap {
    grid-template-columns: 1fr 1fr;
}
.car-section-wrap{
    flex-direction: column;
}
.cart-section-1 {
    max-width: 100%;
}
.lifestyle-wrapper .lifestyle-right {
    row-gap: 48px;
    max-width: 164px;
}
.lifestyle-left-card{
    padding-right: 1rem;
}
.lifestyle-left-card .card-image {
    max-width: 270px;
    height: 270px;
}
.lifestyle-left-card .card-description .card-category{
    margin-top: 0px;
}
.lifestyle-left-card .card-description .card-title{
    padding-top: 0px;
    margin: 0px;
}
.lifestyle-wrapper .lifestyle-right-card {
    margin-left: 16px;
}
.lifestyle-wrapper  .card-title{
    width: fit-content;
    padding-top: 0px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.lifestyle-right-card .card-category, .jewelry-block .jewelry-essential-category{
    margin-bottom: 0px;
}
.lifestyle-right-card .card-title, .jewelry-block .jewelry-essential-sub-title{
   margin: 0px;
}
.lifestyle-right-card .card-image {
    height: 9.25rem;
}
.lifestyle-right-card .card-title, .jewelry-block .jewelry-essential-sub-title{
    padding-top: 0px;
}
section.Jewelry-Education .latest-in-blocks {
    gap: 1rem;
    justify-content: center;
}
.upper-case-light-text{
    margin-bottom: 0px;
}
.Essentials-in-blocks {
    gap: 20px 0px;
}
.Essentials-block {
    padding: 0px 5px;
}
.blog-body {
    width: 80%;
    margin-left: 0;
    margin-top: -20px;
}
#herosection{
    flex-direction: column;
}
.left-section-wrap {
    max-width: 100%;
    padding: 15px;
}
.right-section{
    width: 100%;
}
}

@media screen and (max-width:767px){
    .list-box ul {
        width: 100%;
        flex-wrap: wrap;
        margin:20px auto;
    }
    .list-box ul li {
        width: 50%;
    }
    .list-box ul li label {
        padding: 10px 10px 0px;
        font-size: 1rem;
    }
    .list-box ul li:last-child{
        width: 100%;
    }
    .list-box ul li:last-child {
        border: none;
        width: 100%;
        margin: -15px 0;
        border-radius: 0px 0px 5px 5px;
    }
    .list-box ul li span {
        padding: 10px;
        line-height: 30px;
        font-size: 14px;
    }
    .list-box ul li img {
        margin-right:5px;
        width: 20px;
    }
    .list-box ul li p{
        padding: 10px;
    }
    .list-box ul li p strong{
        font-size: 1rem;
    }
    .common-gap {
        padding: 20px 0px 0px;
    }
    #custom-page h2 {
        font-size: 22px;
        line-height: 24px;
    }
    .whatsapp-customize aside{
        margin-left: 0px;
    }
    .whatsapp-customize strong {
        display: block;
        font-size: 22px;
    }
    .whatsapp-customize .title{
        font-size: 16px;
    }
    .whatsapp-customize .title svg{
        width: 30px;
        height: 30px;
    }
    .whatsapp-customize .title:after{
        margin: 0;
    }
    .team-wrap {
        margin-bottom: 10px;
    }
    .team-title {
        margin: 10px 0 0px;
    }
    .section-type-Explore-Diamonds  .slider-arrows {
        top: 0px;
        width: 60px;
    }
   .jewelry .swiper-button-next:after, .swiper-button-prev:after {
        font-size: 10px !important;
    }
   .jewelry .swiper-btn{
        width: 20px !important;
        height: 20px !important;
    }
    section#faq-panel {
        padding: 20px 15px;
    }
    .faq-header{
        padding: 0px;
        font-size: 22px;
    }
    .faq-question{
        padding: 10px 0;
    }
    .panel-title {
        font-size: 16px;
        padding: 10px 30px 0 0px;
    }
    .section-container{
        padding: 0 15px;
    }
    .plus {
        position: absolute;
        margin-right: 10px;
        margin-top: 10px;
        font-size: 16px;
        line-height: 18px;
        border-radius: 100%;
    }
    .your-word-wrap {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 20px;
    }
    .your-word-wrap .hidden-container {
        width: 100%;
    }
    .review-total-wrap{
        width: 100%;
    }
    .view-all{
        flex: 1;
    }
    .btn-wraper{
        width: 100%;
        margin-top: 10px;
    }
    .newsletter{
        padding: 20px 15px;
        gap: 10px;
    }
    .footer-container{
        padding: 0px 15px 15px;
    }
    .footer-list-heading {
        padding: 20px 0px 10px;
        margin: 0px;
    }
    .icon-container{
        padding: 20px 15px;
    }
    .icon-container .icon-container-inner{
        padding: 0px;
        gap: 15px;
        justify-content: start;
    }
    .px-32-section{
        padding: 20px 15px;
    }
    .panel-content{
        margin: 0px;
        font-size: 14px;
        padding: 0px;
    }
    .panel:checked ~ .panel-content{
        padding: 14px 0px;
    }
    .logo-section-wrap{
        padding: 10px 15px;
    }
    .currnecy-type::after, .customer-support::after{
        display: none;
    }
    .user-section{
        gap: 15px;
        margin-top: 10px;
    }
    .search-input{
        flex: 1;
    }
    .contact-section{
        gap: 10px;
    }
    ul.tab-list-inner li{
        margin-right: 10px;
    }
    ul.tab-list-inner{
        overflow-x: scroll;
        width: 100%;
        padding-bottom: 10px;
    }
    .section-type-opal .grid-box-wrap{
        grid-template-columns: 1fr 1fr;
    }
    .car-prdt-box{
        flex-direction: column;
    }
    .contact-detials-cart {
        flex-direction: column;
    }
    .contact-details-left , .contact-details-right{
        padding: 15px;
        width: 100%;
    }
    .img-box-cart{
        margin: 0 auto;
    }
    .detail-cart-box-inner {
        width: 100%;
    }
    .cart-section-2 {
        min-width: 100%;
    }
    .grid-cat-wrap {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .blog-body {
        width: 100%;
        gap: 1rem;
    }
    .blog-body .title a {
        font-size: 18px;
        line-height: 22px;
    }
    .blog-slideinner{
        flex-direction: column;
    }
    .category-bar ul.tab-list-inner li {
        margin-right: 30px;
    }
    ul.tab-list-inner{
        white-space: nowrap;
    }
    .latest-in-blocks{
        flex-wrap: wrap;
    }
    .trends-block:first-child {
        max-width: 100%;
        flex: 0 0 100%;
        width: 100%;
    }
    .trends-block:nth-child(2), .trends-block:last-child{
        max-width: 50%;
        flex: 0 0 50%;
        margin-top: 10px;
    }
    .latest-in-blocks-parent {
        padding-bottom: 20px;
    }
    .latest-in-title {
        margin: 1rem 0px;
    }
    .monthly-catogries-blocks {
        flex-direction: column;
    }
    .monthly-category {
        padding: 0 10px;
        border-bottom: 1px solid #e7e7e9;
        border-right: none;
        max-width: 100%;
        flex: 0 0 100%;
    }
    .lifestyle-wrapper {
        flex-direction: column;
    }
    .lifestyle-left-card{
        border-right: none;
        flex-direction: column;
        gap: 0px;
        padding-right: 0px;
        padding-bottom: 1rem;
    }
    .lifestyle-left-card .card-image {
        max-width: 100%;
        height: auto;
    }
   
    .lifestyle-left-card .card-description .card-category{
        margin-bottom: 10px;
    }
    .lifestyle-wrapper .lifestyle-right {
        flex-direction: row;
        max-width: 100%;
        overflow-x: scroll;
        gap: 15px;
    }
    .lifestyle-wrapper .lifestyle-right-card{
        max-width: 274px;
        flex: 0 0 274px;
        margin-left: 0px;
    }
    .lifestyle-right-card .card-image {
        height: auto;
    }
    section.Jewelry-Education .latest-in-blocks{
        justify-content: start;
        flex-direction: column;
        margin: 0;
    }
    .Jewelry-Education .trends-block:first-child{
        max-width: 100%;
    }
    .Jewelry-Education .trends-block:nth-child(2){
        max-width: 100%;
        flex: 0 0 100%;
    }
    .Jewelry-Education .trends-block:nth-child(2) , .Jewelry-Education .trends-block:last-child{
        margin-top: 10px;
    }
    .Jewelry-Education .card-image{
        max-height: 100%;
    }
    .Jewelry-Education .trends-block:last-child{
        max-width: 100%;
        flex: 0 0 100%;
    }
    .Essentials-block {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .sub-title-wrap a{
        font-size: 16px;
        line-height: normal;
    }
    .upper-case-light-text , .lifestyle-left-card .card-description{
        margin-top: 10px;
    }
    .category-bar {
        margin: 0 0 20px;
        position: unset;
    }
   .category-bar-section .latest-in-blocks .trends-block:last-child{
        padding-right: 15px;
    }
    .reviews-section{
        padding: 0 15px;
    }
    .blog-heading h1 {
        padding-top: 20px;
        padding-bottom: 15px;
        font-size: 2rem;
    }
    .grid-box-wrap{
        grid-template-columns:1fr 1fr ;
        gap: 10px;
    }
    .tab-content{
        padding: 0px;
    }
    .grid-box-item span{
        padding-top: 10px;
    }
    .form-front{
        margin: 30px auto;
    }
    form .content{
        padding: 20px;
    }
    .remeber-wrap{
        flex-direction: column;
        text-align: left;
    }
    form .action button{
        padding: 10px;
    }
    form h1{
        padding: 20px 15px 0px 15px;
    }
    .register-link{
        margin-bottom: 20px;
    }
    .section-container{
        padding: 0 15px;
    }
    .info-wrap-inner-cart{
        gap: 15px;
    }
    .info-box .info-heading h6{
        font-weight: 700;
    }
    .product-cat-grid-wrap{
        padding-left: 0px;
    }
    .filter-all-products {
        padding: 15px;
        margin-bottom: 0px;
    }
    .product-cat-box.tabs_wrapper {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 10px 0px;
    }
    .slider-section-product{
        padding: 15px;
    }
    .custimzed-product {
        flex-wrap: wrap;
        gap: 5px 10px;
    }
    .total-c-prodtct p {
        font-size: 16px;
    }
    ul.breadcrumb{
        margin-bottom: 0px;
    }
    .more-prdt {
        padding-top: 20px;
        padding-bottom: 25px;
        text-align: center;
    }
    .see-all-slider-wrap {
        padding-top: 10px;
    }
    .reviews-main-box {
        padding: 0px;
    }
    .wishlist-grid {
        grid-template-columns: 1fr 1fr;
    }
    .wishlist-grid-box{
        padding: 40px 10px 10px;
    }
    .slider__flex {
        flex-direction: column-reverse;
    }
    .slider__col {
        flex-direction: row;
        align-items: center;
        margin-right: 0;
        margin-top: 24px;
        width: 100%;
    }
    .slider__images {
        width: 100%;
    }
    .slider__thumbs {
        height: 100px;
        width: calc(100% - 96px);
        margin: 0 16px;
    }
    .slider__prev,
    .slider__next {
        height: auto;
        width: 32px;
    }
    .promiss {
        font-size: 18px;
        padding: 10px 0px;
        margin-bottom: 0px;
    }
    h4 {
        font-size: 16px;
    }
    .quality {
        gap: 10px;
        padding: 10px 0;
        font-family: sans-serif;
        font-size: 14px;
        padding-left: 0.7rem;
        overflow-x: scroll;
    }
    .quality .flex-box , #numbers{
        overflow-y: scroll;
    }
    #buttons-1 ,  #buttons-2 , #button-1 , #button-2{
        display: none;
    }
    
    .img-bottom-box{
        flex-direction: column;
    }
    .bottom-box-1 , .bottom-box-2 , .bottom-box-3{
        width: 100%;
        min-height: 300px;
        padding: 32px;
    }
    .bottom-box-2 , .bottom-box-3{
        border-left: none;
        border-top: 5px solid #fff;
    }
    .bottom-box-1 h3 {
        font-size: 15px;
        margin-bottom: 10px;
       
    }
    .bottom-box-1 p{
        padding: 10px 0px;
    }
    .bottom-box-1 h4 {
        padding-bottom: 10px;
    }
  
}
@media screen and (max-width:575px){
    .section-type-gif .grid-box-wrap {
        grid-template-columns: 1fr;
    }
    .sec-heading {
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
    }
    .big-heading {
        font-size: 22px !important;
    }
    .product-process {
        padding: 30px 0px;
    }
    .product-process h2 {
        font-size: 18px;
    }
    .steps-banner-innner ul {
        gap: 10px;
        margin-top: 10px;
    }
    .steps-banner-innner ul li h3 {
        margin-bottom: 10px;
        font-size: 12px;
    }
    .steps-banner-innner ul li h5 {
        font-size: 12px;
    }
    .btn-wraper{
        position: unset;
    }
    p, a, span, li {
        font-size: 14px;
    }
    h1{
        font-size: 24px;
        font-weight: 500;
    }
    h2{
        font-size: 22px;
    }
    h3{
        font-size: 20px;
    }
    h4{
        font-size: 18px;
    }
    h5{
        font-size: 16px;
    }
    .section-type-opal .grid-box-wrap{
        grid-template-columns: 1fr;
    }
    .font-18 {
        font-size: 16px !important;
        font-weight: 300;
    }
    .pay-with-paypal{
        white-space: nowrap;
    }
    .list-wrap ul li::before {
        width: 12px !important;
    }
    .grid-box-cat a:hover .hover-explore{
        text-align: center;
    }
    .grid-cat-wrap {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .image-cat-box {
        text-align: center;
    }
    .product-all-inner {
        grid-template-columns: repeat(1, minmax(0px, 1fr));
        gap: 5px;
    }
    .reviews-inner-box{
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
    }
    .reviews-inner-box img {
        width: 100%;
        height: auto;
        max-height: 200px;
        object-fit: cover;
    }
    .wishlist-grid {
        grid-template-columns: 1fr;
    }
    .wishlist-grid-box .image-box{
        text-align: center;
    }
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

